body {
  padding: 2rem;
}

main {
  display: grid;
  /*
   * auto-fit - create columns only if there's content for them
   * auto-fill - create columns even if they will be empty
   */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 5rem;
  grid-gap: 1rem;
}

article2 {
  padding: 1rem;
  border: 0px solid rebeccapurple;
}

HTML PostCSSResult Skip Results Iframe
EDIT ON
@use postcss-preset-env{
  stage: 0;
}

body {
  height: 100vh;

  display: grid;
  grid-template-areas:
    'header header'
    'menu   content'
    'footer footer';
  grid-template-columns: 12rem 1fr;
  grid-template-rows: 5rem 1fr 3rem;

  @media (max-width: 600px) {
    grid-template-areas:
      'header'
      'menu'
      'content'
      'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem auto 1fr 3rem;
  }
}


body > * {
  padding: 1rem;
  border: 1px solid goldenrod;
}

header {
  grid-area: header;
}

article {
  grid-area: content;
}

aside {
  grid-area: menu;
}

footer {
  grid-area: footer;
}

#header
{
    width: 100%;
    margin: 0px;
    text-align: center;
    background-color:#ff9999;
}
#right
{
  float: right;
  width: 200px;
  margin: 20px 0px 0px 0px;
  text-align: right;

  background-color:#99ff99;

}
#middle
{
    margin: 20px 220px 10px 220px;
    background-color:#9999ff;

    text-align: center;
}
#footer
{
    margin: 0;
    border: solid 1px Dark;
    background-color: #dbc1c1;
    font-size: 20px;
    text-align: center;
    clear:both;
}
#left
{
    background-color:#fdff5e;
    margin: 20px 0px 0px 0px;
    width: 200px;
    float:left;
    height: 100%;
}