{% extends 'base.html' %}

{% block content %}

{% if images.count > 0 %}

<!--<table width="100%">
    {% for image in images %}
    <tr>
        <td>
            <img src=../media/{{image.image}} width="30%"><br><font size="1">id: {{image.id}}</font> <br> {{image.title}}<br>
            {{image.likes}}&nbsp<a href="likes/{{image.id}}"><img src=../static/images/like.png width="2%"></a>

        </td>
    </tr>
    {% endfor %}

</table>-->
<!--<br><font size="1">id: {{image.id}}</font> <br> {{image.title}}<br>
            {{image.likes}}&nbsp<a href="likes/{{image.id}}"><img src=../static/images/like.png width="2%"></a>-->
<!--<main>
    {% for image in images %}
    <article2>
        <img src=../media/{{image.image}} width="20%">
    </article2>
    {% endfor %}
</main>-->


<div id="grid">
    {% for image in images %}
  <div id="item"><img src=../media/{{image.image}} height="200px"><br><font size="1">id: {{image.id}}</font> <br> {{image.title}}<br>
            {{image.likes}}&nbsp<a href="likes/{{image.id}}"><img src=../static/images/like.png width="5%"></a></div>

  {% endfor %}
</div>




{% endif %}

{% endblock content %}